Repository potniq/groundwork: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_workflow=false, run_workflow

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          name: detect-changes
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            README\.md run_workflow false
            docs/.* run_workflow false
            .*\.md run_workflow false
            app/.* run_workflow true
            supabase/.* run_workflow true
            tests/.* run_workflow true
            migrations/.* run_workflow true
            scripts/.* run_workflow true
            Dockerfile run_workflow true
            requirements\.txt run_workflow true
            \.circleci/.* run_workflow true

Split tests into unit/integration and update CircleCI pipeline
  .circleci/config.yml
  .circleci/continue_config.yml
  README.md
  pytest.ini
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_api.py
  tests/unit/test_main_unit.py
Due: run_workflow=false, run_workflow

Use documented Supabase CLI npx flow in CircleCI
  .circleci/continue_config.yml
  README.md
Due: run_workflow=false, run_workflow

fix
  app/main.py
  app/researcher.py
  tests/integration/test_api.py
Due: run_workflow

Fix Perplexity retry flow and support light_rail mode
  app/models.py
  app/researcher.py
  tests/unit/test_researcher_unit.py
Due: run_workflow

Make Supabase migration step non-interactive in CI
  .circleci/continue_config.yml
Due: run_workflow

Run uvicorn on dynamic PORT for App Platform
  Dockerfile
Due: run_workflow

Better stages
  .circleci/continue_config.yml
  README.md
Due: run_workflow=false, run_workflow

Improve CI deps caching and add Snyk scans
  .circleci/continue_config.yml
  README.md
Due: run_workflow=false, run_workflow

Run Snyk scans via CLI to avoid orb policy block
  .circleci/continue_config.yml
Due: run_workflow

Switch back to Snyk orb scans
  .circleci/continue_config.yml
Due: run_workflow

typo in context def
  .circleci/continue_config.yml
Due: run_workflow

Activate venv before Snyk dependency scan
  .circleci/continue_config.yml
Due: run_workflow

Remove venv from CI and use user-site deps workspace
  .circleci/continue_config.yml
  README.md
Due: run_workflow=false, run_workflow

add deployments
  .circleci/continue_config.yml
Due: run_workflow

Add Postgres-backed Docker E2E smoke checks with mocked intel
  .circleci/continue_config.yml
  README.md
  app/config.py
  app/researcher.py
  scripts/e2e_api_smoke.py
  tests/unit/test_researcher_unit.py
Due: run_workflow=false, run_workflow

Add richer transport links in prompts and city guide
  app/models.py
  app/researcher.py
  app/templates/city.html
  tests/fixtures/barcelona.json
  tests/integration/test_api.py
  tests/unit/test_researcher_unit.py
Due: run_workflow

add docs
  docs/design-system.md
Due: run_workflow=false

add some more docs
  docs/header-style.md
  docs/icon.svg
  docs/icon_wordmark.svg
Due: run_workflow=false

Add URL verification, city regeneration, and design system overhaul
  .circleci/setup-config.yml
  README.md
  app/config.py
  app/main.py
  app/researcher.py
  app/static/favicon.svg
  app/static/icon.svg
  app/static/logo-wordmark.svg
  app/static/style.css
  app/templates/base.html
  app/templates/city.html
  app/templates/index.html
  app/templates/requests.html
  docs/design/design-system.md
  docs/design/groundwork_logo_smiling.png
  docs/design/groundwork_logo_smiling.svg
  docs/design/header-style.md
  docs/design/icon.svg
  docs/design/icon_wordmark.svg
  docs/design/logo.png
  docs/design/smiling-stack.svg
  tests/integration/conftest.py
  tests/integration/test_api.py
  tests/unit/test_main_unit.py
  tests/unit/test_researcher_unit.py
Due: run_workflow=false, run_workflow

Add CircleCI build status badge to README
  README.md
Due: run_workflow=false

Redesign homepage hero, update logo assets, and consolidate CI config
  .circleci/_config.yml
  .circleci/config.yml
  .circleci/continue_config.yml
  app/static/favicon.svg
  app/static/groundwork_logo.png
  app/static/logo-wordmark.svg
  app/static/style.css
  app/templates/base.html
  app/templates/index.html
  docs/design/groundwork_logo.png
  docs/design/groundwork_logo_smiling.png
  docs/design/groundwork_logo_smiling.svg
  docs/design/icon_wordmark.svg
  docs/design/logo.png
  docs/design/smiling-stack.svg
Due: run_workflow=false, run_workflow

Refresh city fixtures and update integration mocks
  AGENTS.md
  tests/fixtures/barcelona.json
  tests/fixtures/london.json
  tests/fixtures/milan.json
  tests/fixtures/new-york-city.json
  tests/fixtures/riga-latvia.json
  tests/integration/conftest.py
  tests/integration/test_api.py
Due: run_workflow=false, run_workflow

Add OG/Twitter meta tags for social sharing and enable Docker layer caching
  .circleci/_config.yml
  .circleci/config.yml
  app/templates/base.html
  app/templates/city.html
  app/templates/index.html
  app/templates/requests.html
Due: run_workflow

Don't require dockerhub context unless deploying image
  .circleci/config.yml
  .claude/settings.json
Due: run_workflow

Use checkmark and cross icons for Metro/Contactless on city cards
  app/templates/index.html
Due: run_workflow

Use pipeline parameter for Docker repo instead of env var/context
  .circleci/config.yml
Due: run_workflow

writeup wip
  docs/cicd/pipeline.md
  docs/cicd/pipeline_manual_writeup.md
Due: run_workflow=false

remove redundant contexts
  .circleci/config.yml
Due: run_workflow

Flesh out pipeline writeup with full section content
  docs/cicd/pipeline_manual_writeup.md
Due: run_workflow=false

Add future optimizations section to pipeline writeup
  docs/cicd/pipeline_manual_writeup.md
Due: run_workflow=false

Remove header nav links and add GitHub link to footer
  app/templates/base.html
Due: run_workflow

Add pipeline writeup link to README and update pipeline docs
  README.md
  docs/cicd/pipeline.md
  docs/cicd/pipeline_manual_writeup.md
Due: run_workflow=false

Update pipeline.md
  docs/cicd/pipeline.md
Due: run_workflow=false

Add tradeoffs for dynamic config and nightly pipeline sections
  docs/cicd/pipeline.md
Due: run_workflow=false

Add pipeline and GTM brainstorming doc for Groundwork
  docs/ideas-future-pipeline.md
Due: run_workflow=false

Add PostHog analytics setup
  .env.example
  README.md
  app/config.py
  app/main.py
  app/templates/base.html
  tests/integration/test_api.py
Due: run_workflow=false, run_workflow

Add PostHog product analytics events
  README.md
  app/main.py
  app/static/analytics.js
  app/static/style.css
  app/templates/base.html
  app/templates/city.html
  app/templates/index.html
  tests/integration/test_api.py
Due: run_workflow=false, run_workflow

Use PostHog super properties for city pages
  README.md
  app/main.py
  app/static/analytics.js
  app/templates/base.html
  app/templates/city.html
  tests/integration/test_api.py
Due: run_workflow=false, run_workflow

Add PostHog logging and error tracking
  .env.example
  README.md
  app/config.py
  app/main.py
  app/static/analytics.js
  app/templates/base.html
  app/templates/city.html
  app/templates/error.html
  app/templates/index.html
  tests/integration/test_api.py
Due: run_workflow=false, run_workflow

Fix analytics integration test expectations
  app/templates/error.html
  tests/integration/test_api.py
Due: run_workflow
